
:root{
    --tema: #3b3f6d;
}

button:hover,label:hover,a:hover{
   filter: brightness(0.9); /*Modifica il colore di sfondo quando si passa sopra a un pulsante*/
}

input[type="date"]:not(.has-value):before{
    color: rgba(169,169,169); /*Colore del testo dei campi di tipo data*/
    content: attr(placeholder); /*Serve per inserire il segnaposto nei campi di tipo data*/
    margin-right: 40px; /*Distanza tra il segnaposto del campo e il valore*/
}

input[type="time"]:not(.has-value):before{
    color: rgba(169,169,169); /*Colore del testo dei campi di tipo time*/
    content: attr(placeholder); /*Serve per inserire il segnaposto nei campi di tipo orario*/
    margin-right: 28px; /*Distanza tra il segnaposto del campo e il valore*/
}

input[type="file"] {
    padding-top: 14px; /*Spazio dall'alto*/
    cursor: pointer; /*Modifica il tipo di puntatore quando si passa sopra al pulsante*/
    color: transparent; /*Nasconde il nome del file scelto*/
}

input[type="file"]:not(.has-value):before{
    color: rgba(169,169,169); /*Colore del testo del campo*/
    content: attr(placeholder); /*Serve per inserire il segnaposto nei campi di tipo carica immagine*/
}

input[type="file"]::-webkit-file-upload-button {
    visibility: hidden; /*Nasconde il pulsante per scegliere il file*/
}   