
.Bar{
	background-color: var(--tema); /*Colore di sfondo della barra*/
	height: 60px; /*Altezza della barra*/
	width: 100%; /*Lunghezza della barra*/
	position: fixed; 
	box-shadow: 0px 0px 5px 2px rgba(39, 12, 88, 0.493); /*Ombra della barra*/
	font-family: 'Signika', sans-serif; /*Font usato per gli elementi della barra*/
}

.Logo{
	float: left; 
	margin-left: 4%; /*Distanza del logo dal bordo sinistro*/
	margin-top: 0.3%; /*Distanza del logo dal bordo in alto*/
	width: 130px; /*Lunghezza del logo*/
}

.Menu{
	position: fixed; 
	right: -172px; /*Distanza del menu dal bordo sinistro*/
    margin-top: 6px; /*Distanza del menu dal bordo in alto*/
}

.UserButton{
	float: right; 
	margin-top: -8px; /*Distanza del pulsante dal bordo in alto*/
	margin-right: 200px; /*Distanza del pulsante dal bordo destro*/
	margin-left: 30px; /*Distanza del pulsante dal bordo sinistro*/
	width: 32px; /*Lunghezza del pulsante*/
	cursor: pointer; /*Modifica il tipo di puntatore quando si passa sopra al pulsante*/
}

.EventType{
	padding-left: 24px; /*Distanza del pulsante dal bordo sinistro*/
	color: #fff; /*Colore del testo*/
	cursor: pointer; /*Modifica il tipo di puntatore quando si passa sopra al pulsante*/
}

.EventType:hover{
	color: #1d2480; /*Modifica il colore del testo quando si passa sopra al pulsante*/
}

.UserMenu{
	background-color: var(--tema); /*Colore del menu a tendina dell'utente*/
	width: 180px; /*Lunghezza del menu a tendina dell'utent*/
	margin-top: 60px; /*Distanza del menu a tendina dal bordo in alto*/
	margin-left: 1240px; /*Distanza del menu a tendina dal bordo sinistro*/
	display: none; /*Nasconde il menu a tendina quando è chiuso*/
	box-shadow: 0px 0px 1px 1px rgba(39, 12, 88, 0.493); /*Ombra del menu a tendina*/
}

.MenuItem{
	padding: 8px; /*Padding di un opzione del menu a tendina*/
	background-color: var(--tema); /*Colore di sfondo di un opzione del menu a tendina*/
	font-size: 14px; /*Dimensione del testo di un opzione del menu a tendina*/
	text-align: center; /*Allineamento del testo di un opzione del menu a tendina*/
	cursor: pointer; /*Modifica il tipo di puntatore quando si passa sopra all'opzione del menu a tendina*/
	color: white; /*Colore del testo di un opzione del menu a tendina*/
}

.MenuItem:hover{
	background-color: rgb(108, 97, 148); /*Modifica il colore dell'opzione del menu a tendina quando si passa sopra al pulsante*/
}

