
.ListaEventi{
	padding-top: 100px; /*Distanza dal bordo in alto del contenitore degli eventi*/
	padding-bottom: 20px; /*Distanza dal bordo in basso del contenitore degli eventi*/
}

.Event{
	border: solid; /*Tipo di bordo dell'evento*/
	border-color: var(--tema); /*Colore del bordo dell'evento*/
	border-width: 1px; /*Spessore delbordo dell'evento*/
	border-radius: 3px; /*Raggio del bordo dell'evento (rende il bordo arrotondato)*/
	background-color: rgba(255, 255, 255, 0.8); /*Colore di sfondo dell'evento*/
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /*Ombra dell'evento*/
	width: 800px; /*Lunghezza dell'evento*/
	margin-left: 22%; /*Distanza dell'evento dal bordo sinistro*/
	margin-bottom: 20px; /*Distanza dell'evento dal bordo in basso*/
	text-align: center; /*Allineamento del testo*/
	font-family: arial; /*Font del testo*/
	display: grid; /*I figli di questa classe sono disposti a griglia*/
	grid-template-columns: 25% 55% 20%; /*Lunghezze delle colonne della griglia*/
}

.EventTitle{
	text-align: center; /*Allineamento del testo*/
	color: black; /*Colore del testo*/
	font-size: 180%; /*Dimensione del testo*/
	padding-bottom: 20px; /*Spazio dal basso*/
	margin: 0; /*Margini*/
}

.EventIcon{
	padding: 10px; /*Spazio intorno all'icona*/
}

img{
	width:100%;	/*Aggiusta il riquadro contenente l'immagine dell'evento*/
}

.EventData{
	padding: 20px; /*Spazio intorno ai dettagli dell'evento*/
	margin-left: 5%; /*Distanza dell'oggetto dal bordo sinistro*/ 
	margin-top: 2%; /*Distanza dell'oggetto dal bordo in alto*/
	font-family: 'Signika', sans-serif;	/*Font usato per il testo*/
	color:rgb(172, 157, 157) ;	/*Colore usato per il testo*/
}

.EventPrice{
	padding: 10px; /*Spazio intorno al prezzo dell'evento*/
	margin-top: 25%; /*Distanza dell'oggetto dal bordo in alto*/
}

.EventDetails{
	text-align: left; /*Allineamento del testo*/
	margin: 0; /*Margini*/
}
  
.EventPriceValue{
	color: var(--tema); /*Colore del prezzo dell'evento*/
	font-weight: bold; /*Il prezzo viene scritto in grassetto*/
	font-size: 22px; /*Dimensione del testo del prezzo*/
	text-align: center; /*Allineamento del testo*/
	margin: 0; /*Margini*/
}
  
.EventButton{
	border: solid; /*Tipo di bordo*/
	border-radius: 8px; /*Raggio del bordo del pulsante (rende il pulsante arrotondato)*/
	padding: 10px; /*Spazio intorno al pulsante*/
	color: white; /*Colore del testo*/
	background-color: var(--tema); /*Colore di sfondo del pulsante*/
	cursor: pointer; /*Modifica il tipo di puntatore quando si passa sopra al pulsante*/
	width: 100%; /*Lunghezza del pulsante*/
	font-size: 18px; /*Dimensione del testo*/
}

.EventButton:hover{
	background-color: #2b2f5a; /*Modifica il colore di sfondo quando si passa sopra al pulsante*/
}