
.Form{
	background-color: rgb(255, 255, 255); /*Colore di sfondo del form*/ 
	margin-top: 14%; /*Distanza del form dal bordo in alto*/
	margin-left: 25%; /*Distanza del form dal bordo sinistro*/
	width: 50%; /*Lunghezza del form*/
	padding: 20px; /*Spazio intorno al form*/
	border-radius: 10px; /*Raggio del bordo del form (rende il form arrotondato)*/
	font-family: 'Signika', sans-serif; /*Font usato nel form*/
}

.Field{
	font-size: 100%; /*Dimenzione del testo del campo*/
	height: 48px; /*Altezza del campo*/
	width: 99%; /*Lunghezza del campo*/
	padding-left: 5%; /*Spazio a sinistra del campo*/
	margin-top: 10px; /*Distanza del campo dal bordo in alto*/
	margin-left: 0.5%; /*Distanza del campo dal bordo sinistro*/
	border: 1px solid #ccc; /*Tipo di bordo del campo*/
	border-radius: 10px; /*Raggio del bordo del campo (rende il campo arrotondato)*/
}

.FormButton{
	border: solid; /*Tipo di bordo del pulsante*/
	border-radius: 10px; /*Raggio del bordo del pulsante (rende il pulsante arrotondato)*/
	padding: 12px; /*Spazio intorno al pulsante*/
	background-color: rgb(66,183,42); /*Colore di sfondo del pulsante*/
	color: rgb(255, 255, 255); /*Colore del testo del pulsante*/
	width: 100%; /*Lunghezza del pulsante*/
	text-align: center; /*Allineamento del testo*/
	cursor: pointer; /*Modifica il tipo di puntatore quando si passa sopra al pulsante*/
	font-size: 100%; /*Dimensione del testo del pulsante*/
}

.FormButton:hover{
	background-color: rgb(69, 160, 49); /*Modifica il colore del pulsante quando si passa sopra col puntatore*/
}

.RadioButtons{
	color: rgb(153, 148, 148); /*Colore del testo dei radio buttons*/
	width: 100%; /*Lunghezza del contenitore dei radio buttons*/
	margin-left: 12px; /*Distanza del contenitore dei radio buttons dal bordo sinistro*/
	margin-top: 20px; /*Distanza del contenitore dei radio buttons dal bordo in alto*/
}

.Radio{
	margin-left: 6%; /*Distanza del radio button da sinistra*/
	margin-right: 10px; /*Distanza del radio button da destra*/
}

input[type="date"]:not(.has-value):before{
	color: rgba(169,169,169); /*Colore del testo dei campi di tipo data*/
	content: attr(placeholder); /*Serve per inserire il segnaposto nei campi di tipo data*/
    margin-right: 40px; /*Distanza tra il segnaposto del campo e il valore*/
}

input[type="time"]:not(.has-value):before{
	color: rgba(169,169,169); /*Colore del testo dei campi di tipo time*/
	content: attr(placeholder); /*Serve per inserire il segnaposto nei campi di tipo orario*/
    margin-right: 28px; /*Distanza tra il segnaposto del campo e il valore*/
}

input[type="file"] {
	padding-top: 14px; /*Spazio dall'alto*/
	cursor: pointer; /*Modifica il tipo di puntatore quando si passa sopra al pulsante*/
	color: transparent; /*Nasconde il nome del file scelto*/
}

input[type="file"]:not(.has-value):before{
	color: rgba(169,169,169); /*Colore del testo del campo*/
	content: attr(placeholder); /*Serve per inserire il segnaposto nei campi di tipo carica immagine*/
}

input[type="file"]::-webkit-file-upload-button {
	visibility: hidden; /*Nasconde il pulsante per scegliere il file*/
}