
/*Modifica il widget contenente il form di login*/

#Login{
	margin-top: 10%; /*Distanza della finestra di login dall'alto*/
	margin-left: 60%; /*Distanza della finestra di login da sinistra*/
	padding-bottom: 40px; /*Spazio in basso alla finestra*/
	width: 340px; /*Lunghezza della finestra di login*/
}

/*Modifica il pulsante per accedere al sito, contenuto nella finestra di login*/

#Accedi{
	background-color: rgb(24,119,242); /*Colore di sfondo del pulsante per accedere al sito*/
	margin-top: 20px; /*Distanza del pulsante dall'alto*/
	margin-bottom: 20px; /*Distanza del pulsante dal basso*/
}

/*Modifica il pulsante per per creare un nuovo account, contenuto nella finestra di login*/

#NuovoAccount{
	width: 60%; /*Lunghezza del pulsante*/
	margin-left: 20%; /*Distanza del pulsante da sinistra*/
}

/*Proprietà del pulsante "ho dimenticato la password", contenuto nella finestra di login*/

.PasswordDimenticata{
	color: rgb(24,119,242); /*Colore del testo*/
	font-size: 96%; /*Dimensione del testo*/
	margin-left: 28%; /*Distanza da sinistra*/
	cursor: pointer; /*Modifica il tipo di puntatore quando si passa sopra al pulsante*/
}

/*Proprietà del separatore*/

.Separatore{
	width: 90%; /*Lunghezza del separatore*/
	margin-left: 5%; /*Distanza da sinistra*/
	border-top: 1px solid #bbb; /*Tipo di bordo*/
	border-radius: 5px; /*Raggio del bordo (rende il separatore arrotondato)*/
	margin-top: 20px; /*Distanza dall'alto*/
	margin-bottom: 20px; /*Distanza dal basso*/
}