
.TableTitle{
	color: var(--tema); /*Colore del titolo della tabella*/ 
	font-size: 32px; /*Dimensione del testo*/
	font-family: 'Signika', sans-serif; /*Font usato per il testo del titolo della tabella*/
	margin-left: 5%; /*Distanza da sinistra*/
	padding-top: 100px; /*Spazio dall'alto*/
	padding-bottom: 30px; /*Spazio dal basso*/
}

.Table{
	font-family: Arial, Helvetica, sans-serif; /*Font usato per il testo della tabella*/
	border-collapse: collapse; /**/
	width: 90%; /*Lunghezza della tabella*/
	margin-left: 5%; /*Distanza da sinistra*/
	text-align: left; /*Allineamento del testo*/
}

.TableHeader{
	border: 1px solid #ddd; /*Tipo di borddo*/
	padding: 8px; /*Spazio intorno all'intestazione della tabella*/
	background-color: var(--tema); /*Colore di sfondo dell'intestazione*/
	color: white; /*Colore del testo*/
}

.TableField{
	border: 1px solid #ddd; /*Tipo di bordo*/
	padding: 8px; /*Spazio intorno al campo*/
	background-color: white; /*Colore di sfondo del campo*/
	cursor: pointer; /*Modifica il tipo di puntatore quando si passa sopra al pulsante*/
	color: black; /*Colore del testo delle caselle della tabella*/
}

.TableField:hover{
	background-color: rgb(239, 233, 252); /*Cambia il colore dello sfondo quando si passa sopra ad un campo con il mouse*/
}

.EmptyTable{
	margin-left: 35%; /*Distanza da sinistra*/
	font-size: 140%; /*Dimensione del testo*/
	font-family: 'Signika', sans-serif; /*Tipo di font*/
	color: rgb(116, 91, 230); /*Colore del testo mostrato quando la tabella è vuota*/
	width: 30%; /*Lunghezza del testo*/
	padding-top: 380px; /*Spazio dall'alto*/
	text-align: center; /*Allineamento del testo*/
}